<div class="col-3 d-flex flex-column">
  <button type="button" class="btn btn-primary btn-lg">メンズ<br>ランダム</button>
  <button type="button" class="btn btn-primary btn-lg">レディース<br>ランダム</button>
  <button type="button" class="btn btn-primary btn-lg">ユニセックス<br>ランダム</button>
  <button type="button" class="btn btn-success btn-lg">コーディネートを投稿</button>
  <!-- 現在ユーザーだけボタンを表示する記述 -->
    <button type="button" class="btn btn-success btn-lg">コーディネートを編集</button>
</div>