<div class="col-3 d-flex flex-column mt-5">
  <% Coordinate.styles_i18n.values.each do |style| %>
    <%= link_to random_coordinates_path(style: style), class: "btn btn-primary btn-lg mb-3" do %>
      <%= style %><br>ランダム
    <% end %>
  <% end %>
  <%= link_to "コーディネート投稿", new_coordinate_path, class: "btn btn-success btn-lg mb-3" %>
</div>