<button type="button" class="btn btn-primary btn-lg">メンズ<br>ランダム</button>
<button type="button" class="btn btn-primary btn-lg">レディース<br>ランダム</button>
<button type="button" class="btn btn-primary btn-lg">ユニセックス<br>ランダム</button>
<button type="button" class="btn btn-success btn-lg">コーディネート投稿</button>