<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1 my-3">
      <h2 class="bg-light d-inline-block px-3">コーディネート編集</h2>
    </div>
  </div>
  <%= render 'public/coordinates/form', coordinate: @coordinate %>
</div>
