<div class="container">
  <div class="row">
    <%= render 'public/coordinates/button' %>
    <%= render 'public/coordinates/show', coordinate: @random, tags: @tags, similar: @similar, actions: @actions %>
  </div>
</div>
