<div class="container">
  <div class="row">
    <%= render 'public/coordinates/button' %>
    <%= render 'public/coordinates/show', coordinate: @coordinate, tags: @tags, similar: @similar %>
  </div>
</div>
